html,
body {
    background-color: #1b1610;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

hr {
    color: #daa520;
}

p {
    color: #ffffff;
}

input {
    height: 2.5rem;
    padding: 10px;
    text-align: center;
    color: #daa520;
    border-radius: 5px;
}

a:focus {
    color: #daa520;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation h1, h2 {
    font-family: 'Anton', italic;
}

.navigation h2 {
    font-size: 1.4rem;
}

.navigation a {
    font-size: 1rem;
    padding: 5px;
}

.navigation div {
    display: flex;
    flex-direction: column;
}

.navigation div button {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.navigation button {
    background-color: #daa520;
}

.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #ffffff;
    padding: 0.5rem;
    margin-top: 5rem;
}

.icon-container i {
    font-size: 2.5rem;
    padding: 1rem;
}

.icon-container i:hover {
    color: #daa520;
    transition: 500ms;
}

.icon-container p {
    text-align: center;
}

.header-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.header-main h1 {
    font-family: 'Dancing Script', cursive;
    color: #daa520;
    font-size: 4rem;
    text-shadow: 5px 6px 10px #000000;
}

.header-main h2, h3 {
    font-family: 'Anton';
    color: #ffffff;
}

.header-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-button-container button {
    border-radius: 10px;
    padding: 5px 10px;
    width: 10rem;
    background-color: #daa520;
    font-family: 'Anton', sans-serif;
    border: 1px solid #daa520;
    margin: 0px 5px;
}

.header-button-container button:hover {
    background: #1b1610;
    color: #daa520;
}

.append-container {
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5rem 15%;
    padding: 1rem;
}

.append-container-meals {
    border-radius: 25px 0px 25px 0px;
    width: 30%;
    background-color: rgba(218, 165, 32, 0.158);
    margin: 0.5rem;
    padding-bottom: 1rem;
}

.append-container-meals img {
    border-radius: 25px 0 0 0;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
}

.append-container-meals-title h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    text-align: center;
    color: #daa520;
    text-shadow: 6px 1px 10px #1d1c1a;
}

.append-container-meals-title h2 {
    color: #daa520;
    font-size: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.500);
    margin: 0 1rem;
}

.append-container-meals-title p {
    color: #daa520;
    font-size: 1rem;
    padding-left: 2rem;
}

.append-container-meals-title a {
    text-align: end;
    padding-right: 2rem;
    color: #daa520;
}

.append-container-meals-title a:hover, a:active {
    color: white;
}

.form-outline {
    outline: 1px solid #1b1610;
}

.form-outline:focus {
    outline: 0px none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined {
    color: #daa520;
    font-size: 4rem;
}

.nav-link {
    color: #ffffff;
}

.nav-link-gold {
    color: #daa520
}

.nav-link:hover {
    color: #daa520;
    font-weight: 400;
}

.offcanvas-body {
    background-color: #1b1610;
    color: #daa520;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(218, 165, 32, 0.158);
    color: #daa520;
    padding: 1rem;
    text-align: center;
}

.footer-top {
    padding: 1rem;
}

.footer-top h4 {
    text-align: center;
    font-family: 'Anton', Italic;
}

.footer-top p {
    padding: 1rem 15%;
}

.footer-top a {
    text-align: center;
    text-decoration: none;
    background-color: #1b1610;
    color: #daa520;
    padding: 10px 5rem;
    border-radius: 10px;
}

.footer-top a:hover {
    background-color: #daa520;
    color: #1b1610;
    transition: 500ms;
}

.footer-bottom i {
    font-size: 2rem;
    margin: 0 1rem;
}

.footer-bottom i:hover {
    color: #fff;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.active {
    color: #daa520;
}

@media only screen and (max-width: 820px) {
    .append-container-meals {
        width: auto;
        margin: 1rem;
    }
}


@media only screen and (max-width: 576px) {

    .header-main-container h1 {
        font-size: 2.7rem;
        margin: 1rem 0;
    }    

    .header-main-container h2 {
        font-size: 2.7rem;
    }

    .header-main-container h3 {
        font-size: 2.7rem;
    }

    .header-button-container {
        margin: 2rem 0;
    }

    .append-container {
        margin: 5rem 0;
        width: 100%;
        height: auto;
        display: block;
    }

    .append-container-meals {
        width: 100%;
        margin: 1rem 0;
    }

    .append-container-meals-title p {
        font-size: 14px;
    }

    .footer-top p {
        padding: 0.5rem;
    }

}